.carrinho__titulo {
  text-transform: uppercase;
  text-align: center;
}
.carrinho__produto {
  margin-bottom: 1rem;
}
.carrinho__produto__imagem {
  width: 80px;
  border-radius: var(--border-radius);
}
.carrinho__total {
  color: var(--rosa-500);
}
.carrinho {
  width: calc(30% - 1rem);
}
.carrinho__cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}


.carrinho--aberto {
  display: block;
}
