.conteudo {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding: 1.6rem;
    position: relative;
}



.logo {
    width: 180px;
}

.conteudo-flexivel {
    display: flex;
    
}

.alinhar-centro {
    align-items: center;
  
}
.justificar-espaco-entre {
    justify-content: space-between;
    
}
.justificar-centro {
    justify-content: center;
    
}
.quebra-linha {
    flex-wrap: wrap; 
}

.espaco-fixo {
    row-gap: 2rem;
}

.produto__imagem {
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius)  0 0;
}

.produto__informacoes {
    padding: 1.6rem;
    
}
.produto__nome {
    text-transform: uppercase;
    font-size: 2.4rem;
}

.produto__descricao {
    font-size: 1.6rem;
}

.produto__preco {
    margin: 1rem 0;
    font-size:2.4rem;
}


.btn__adicionar {
    padding: .8rem;
    background-color: var(--rosa-500);
    color: var(--rosa-100);
    border: 3px dashed var(--marron-500);  
    border-radius: var(--border-radius);
    width: 100%; 
}
.produto {
    width: 100%;       
    border-radius: var(--border-radius);   
    background-color: #fff;
    text-align: left;
}

@media(min-width: 768px) {
    .produto {
        width: 33%;
        max-width: 300px;
       
    }
}
